.form {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 20vw;
    row-gap: 1vh;
    color: #FFF;
}

.flex, input {
    flex: 1;
    flex-shrink: 1;
}

input, select {
    border-radius: 2vh;
    min-width: 0;
    padding: 0 2vh;
    border: none;
}

label {
    padding: 0 1vw;
}

.text {
    position: relative;
}

.text span {
    position: absolute;
    bottom: 0;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.multiple {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

button {
    margin: 4vh 3vw 0 3vw;
    color: #FFF;
    background-color: rgb(59, 64, 114);
    border-radius: 2vh;
    padding: 0.5vh;
    font-size: x-large;
    border: none;
    box-shadow: inset 0.1vw 0.1vh 0.3em 0.1em rgba(255,255,255,0.5), inset -0.1vw -0.1vh 0.3em 0.1em rgba(255,255,255,0.5);
}

label {
    align-self: center;
}

.inputBox {
    padding: 5vh 3vw;
    background-color: rgb(72, 72, 72);
    box-shadow: inset 1vw 1vh 1em 0.2em rgba(255,255,255,0.5), inset -1vw -1vh 1em 0.2em rgba(255,255,255,0.5);
    border-radius: 3vh;
    color: #FFF;
    display: flex;
    flex-direction: column;
    max-height: 80vh;
}

.logo {
    position: absolute;
    margin-top: 2vh;
    margin-left: 5vw;
    height: 7vh;
    top:0;
    left: 0;
}